html {
  overflow: hidden;
  font-family: 'Open Sans';
  font-size: 13px;
  color: #4d4d4d;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

a {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

h1 {
  padding-left: 20px;
}

.lm_content {
  display: flex;
  flex-direction: column;
}

.dragged {
  cursor: copy !important;
}

.ant-checkbox-wrapper {
  margin: 0 2px !important;
}

.ReactVirtualized__List {
  background-color: white;
  overflow: scroll !important;
}

.ReactVirtualized__Grid__innerScrollContainer {
  overflow: visible !important;
}

.tree-node {
  display: flex;
  flex-direction: column;
  height: 25px !important;
  background-color: white;
  margin: 0 !important;
  cursor: default;
  width: auto !important;
  min-width: 100% !important;
}

.tree-node .tree-node-selected {
  background-color: #daedfb !important;
}

.tree-node > div > div i {
  margin: 0 8px;
}

.tree-node > div > div > span {
  display: flex;
  flex-direction: row;
}

.tree-node-expand-icon {
  padding: 0 17px 0 0;
}

.virtualized-tree {
  background-color: white;
}

.row-hidden {
  display: none;
}

.row-highlighted {
  background-color: rgba(236, 246, 253, 0.3);
}

.row-unavailable td > * {
  opacity: 0.3;
}

.ReactVirtualized__Table__rowColumn div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper-with-label {
  margin: 12px 8px;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 8px;
}

.wrapper-label {
  top: -8px;
  font-weight: bold;
  padding: 0 2px;
  background-color: white;
  position: absolute;
}

.expandable__table-with-menu {
  flex: 1;
  height: calc(100% - 35px);
}

.expandable__table-diff {
  display: flex;
}

.expandable__table-diff .cell-content span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expandable__table-diff .cell-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expandable__table-diff .tree-node > div > div {
  overflow: hidden;
}

.expandable__table-diff .tree-node > div > div > div {
  overflow: hidden;
}

.selected-row {
  background-color: #daedfb !important;
}

.disabled-row {
  opacity: 0.7;
  background-color: rgb(223, 223, 223);
}

.ReactVirtualized__Table__headerRow {
  background-color: lightgray;
  font-weight: normal;
  font-size: 11px !important;
}
.ReactVirtualized__Table__headerColumn {
  display: flex;
  justify-content: center;
  margin: 1px !important;
}
.ReactVirtualized__Table__Grid {
  background-color: white;
}
.ReactVirtualized__Table__rowColumn {
  margin: 1px !important;
}
.ReactVirtualized__Table__row {
  margin: 0 !important;
}

.table__list .ReactVirtualized__Table__row {
  border-bottom: 1px solid lightgray;
}

.table__list .ReactVirtualized__Table__row .ReactVirtualized__Table__rowColumn:not(:first-child) {
  line-height: 26px;
  height: 26px;
  border-left: 1px solid lightgray;
}

.table__list .ReactVirtualized__Table__rowColumn {
  padding: 0 8px;
}

.project-devices-tree-widget .tree-node > div div:nth-child(3) {
  overflow: hidden;
}

.project-devices-tree-widget .tree-node > div div:nth-child(3) i {
  margin: 0 4px 0 0 !important;
}

.project-devices-tree-widget .tree-node > div div:nth-child(3) .cell-content {
  overflow: hidden;
}

.ellipsis-content {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: block;
  max-width: 250px;
}

.react-contextmenu.react-contextmenu--visible > div:not(.react-contextmenu-item) {
  padding: 0 !important;
}

.event-cell {
  background: white;
  color: black;
  padding: 2px 8px !important;
  min-height: 25px;
  height: 100%;
}

.activeTool {
  border-bottom: 5px solid white;
}

/**
 * antd classes
 */

.ant-dropdown-menu {
  max-height: 250px;
  overflow-y: auto;
}

.ant-collapse-content,
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

.ant-tabs-bar {
  margin: 0;
}

.ant-tabs-tab {
  padding: 8px !important;
}

.ant-time-picker {
  min-width: 130px !important;
}

.ant-input-number {
  margin-top: 0 !important;
}

.ant-notification-notice {
  word-break: break-word;
}

/**
 * Классы состояний
 * Все цвета взяты из fireback/fireback/ui-domain-lib-v1/src/main/resources/stateCategoriesRussianView.xml
 */
.Fire {
  background: #ff0000;
  color: #ffffff;
}
.Fire1 {
  background: #ff7f27;
  color: #000000;
}
.Fire2 {
  background: #ff4444;
  color: #000000;
}
.Extinction {
  background: #ff0000;
  color: #ffffff;
}
.Alarm {
  background: #ff0000;
  color: #ffffff;
}
.Warning {
  background: #ffff00;
  color: #000000;
}
.AutoOff {
  background: #ffff00;
  color: #000000;
}
.Error {
  background: #ddaaaa;
  color: #000000;
}
.Malfunction {
  background: #ddaaaa;
  color: #000000;
}
.Ignore {
  background: #cccc88;
  color: #000000;
}
.Unknown {
  background: #888888;
  color: #000000;
}
.Run {
  background: #ffff00;
  color: #000000;
}
.Info {
  background: #00ffff;
  color: #000000;
}
.Service {
  background: #cccc88;
  color: #000000;
}
.OnGuard {
  background: #22bb22;
  color: #000000;
}
.OffGuard {
  background: #4444ff;
  color: #000000;
}
.Normal {
  background: #22ff22;
  color: #000000;
}
.Null {
  background: #ffffff;
  color: #000000;
}

/**
 * Правила для предпросмотра анимации шейпов устройств
 */

@keyframes BLINKING {
  50% {
    opacity: 0.1;
  }
}

@keyframes RESIZING {
  25% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
}

@keyframes ROTATING {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
