<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<%@ taglib uri="http://www.springframework.org/security/tags" prefix="sec" %>

<!DOCTYPE html>
<html lang="en">
<head>
<title>Index</title>

<link href="/public/css/index.css" rel="stylesheet" />
</head>

<body>
<div id="helloDiv"> HELLO!!! </div>
<div id="helpDiv"></div>

<script src="/public/js/index.js"></script>

<sec:authorize access="!isAuthenticated()">
    <div class="container" style="width: 300px;">
        <c:url value="/login" var="loginUrl" />
        <form action="${loginUrl}" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" class="form-control" name="username" placeholder="Name" required autofocus value="admin">
            <input type="password" class="form-control" name="password" placeholder="Password" required value="123456">
            <br><button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>
</sec:authorize>

<sec:authorize access="isAuthenticated()">
    <p>User authorized: <sec:authentication property="principal.username" /></p>
    <p><a class="btn btn-lg btn-danger" href="<c:url value="/logout" />" role="button">Logout</a></p>
</sec:authorize>

</body>
</html>
